.fare-summary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(90deg, #0f172a, #1e3a8a);
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  width: 100%;
}
.fare-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.fare-block span {
  font-size: 13px;
  opacity: 0.9;
}

.fare-block strong {
  display: block;
  font-size: 19px;
  margin: 4px 0;
}

.cost-block {
  font-size: 19px;
  font-style: normal;
  font-weight: bold;
  align-self: flex-end;
  margin-left: 70px;
  padding: 7px;
}

.divider {
  width: 1px;
  height: 48px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 20px;
}

.total-fare {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

.total-fare span {
  font-size: 13px;
  opacity: 0.9;
}

.total-fare strong {
  font-size: 15px;
}
.total-fare-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
