.flights-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.flight-column {
  background: transparent;
}

.column-header {
  width:100%;
  height:25px;
  display:flex;
  justify-content: space-around;
  align-items:center;
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 6px;
  box-shadow: 1px  2px  1px 1px rgb(104, 104, 118);
  border-radius: 10px;
}