.top-header{
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align:center;
    border-bottom: 1px solid #e6e6e6;
    padding:5px;

}
.left{
    width:18%;
    height: 33px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    border-right: 1px solid #e6e6e6;
    padding-right:10px;
    box-sizing: border-box;
}
.right{
    width:99vh;
    
    display:flex;
    justify-content: flex-end;
    align-items:center;
    padding-left:1px;
    box-sizing: border-box;
    

}
.header-right{
    width:40%;
    height: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding:2px;
    margin-right:5px;
    box-sizing: border-box;
    

}

.icon-box{
    width: 16px;
    padding:10px;
    height: 16px;
    display:flex;
    justify-content: center;
    align-items: center;

    border:1px solid #e5e7eb;
    border-radius:10px;
    cursor:pointer;


}

.badge{
    text-align: center;
    position:absolute;
    width: 20px;
    top:4px;
    font-size:14px;
    font-weight:400;
    border-radius: 999px;
    color:#fff;
    align-self:flex-start;
    padding-left:5px;
    padding-right: 5px;
    gap:3px;
    

}

.green{
    border-color: #22c55e;
    color:#22c55e;

}
.badge.green{
    background: #22c55e;
    color:white;
    right:324px;
}

.red{
    border-color:#ef4444;
    color:#ef4444
}
.badge.red{
background: #ef4444;
color:white;
right:180px;
}
.blue{
    border-color: aqua;
    color:aqua;
    margin-right:2px
}
.badge.blue{
    background:aqua;
    color:white;
    right:250px;   
}
.Profile-bg{
    width:40%;
    height:34px;
    border-left: 1px solid #e6e6e6 ;
    background: #fbfbfd;
     display:flex;
    flex-direction:row;
    align-items:center;
}
.Profile-bg-img{
    
    padding:3px;
    width:30px;
    height: 30px;
    border-radius:50px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
